.header_mid .header_mid_inner .logo_wrap {
		width : 282px;
	}

	.header_mid_inner .logo img.logo_retina {
		width : 282px;
	}


			.headline_outer {
				background-image:url(uploads/sites/5/2019/04/pattern-ic.jpg);
				background-repeat:no-repeat;
				background-attachment:scroll;
				background-size:cover;
			}
			
			.headline_outer:not(.cmsmasters_headline_img_enabled) .headline_color {
				background-color:#f9f9f9;
			}
			
			.headline_outer:not(.cmsmasters_headline_img_enabled) .cmsmasters_dot:before {
				background-image:-webkit-linear-gradient(90deg, #f9f9f9 5px, transparent 0px);
				background-image:-moz-linear-gradient(90deg, #f9f9f9 5px, transparent 0px);
				background-image:-ms-linear-gradient(90deg, #f9f9f9 5px, transparent 0px);
				background-image:-o-linear-gradient(90deg, #f9f9f9 5px, transparent 0px);
				background-image:linear-gradient(90deg, #f9f9f9 5px, transparent 0px);
			}
			
			.headline_outer:not(.cmsmasters_headline_img_enabled) .cmsmasters_dot:after {
				background-image:-webkit-linear-gradient(0deg, #f9f9f9 5px, transparent 0px);
				background-image:-moz-linear-gradient(0deg, #f9f9f9 5px, transparent 0px);
				background-image:-ms-linear-gradient(0deg, #f9f9f9 5px, transparent 0px);
				background-image:-o-linear-gradient(0deg, #f9f9f9 5px, transparent 0px);
				background-image:linear-gradient(0deg, #f9f9f9 5px, transparent 0px);
			}
			
			.headline_inner.align_center, 
			.headline_inner:not(.align_center) .headline_aligner, 
			.cmsmasters_breadcrumbs_aligner {
				min-height:110px;
			}
			

	.header_top {
		height : 34px;
	}
	
	.header_mid {
		height : 150px;
	}
	
	.header_bot {
		height : 65px;
	}
	
	#page.cmsmasters_heading_after_header #middle, 
	#page.cmsmasters_heading_under_header #middle .headline .headline_outer {
		padding-top : 150px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_top #middle, 
	#page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer {
		padding-top : 184px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_bottom #middle, 
	#page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer {
		padding-top : 215px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle, 
	#page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
		padding-top : 249px;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top,
		.header_mid,
		.header_bot {
			height : auto;
		}
		
		.header_mid .header_mid_inner > div {
			height : 150px;
		}
		
		.header_bot .header_bot_inner > div {
			height : 65px;
		}
		
		#page.cmsmasters_heading_after_header #middle, 
		#page.cmsmasters_heading_under_header #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_top #middle, 
		#page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_bottom #middle, 
		#page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle, 
		#page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
			padding-top : 0 !important;
		}
	}
	
	@media only screen and (max-width: 540px) {
		.header_mid .header_mid_inner > div, 
		.header_bot .header_bot_inner > div {
			height:auto;
		}
	}

    #cmsmasters_row_b41nyjq53 .cmsmasters_row_outer_parent { 
        padding-top: 80px; 
    } 
    
    #cmsmasters_row_b41nyjq53 .cmsmasters_row_outer_parent { 
        padding-bottom: 70px; 
    } 
    
    
    #cmsmasters_column_lt82m3es7r .cmsmasters_column_inner { 
        padding: 0 0% 0 0%; 
    } 
    
    
                @media only screen and (min-width: 1280px) {
                    #cmsmasters_column_lt82m3es7r .cmsmasters_column_inner {
                        padding: 30px 0px 0px 0px;
                    }
                }
                
    #cmsmasters_heading_nnf53j1aeg { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:50px; 
    } 
    
    #cmsmasters_heading_nnf53j1aeg .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_nnf53j1aeg .cmsmasters_heading, #cmsmasters_heading_nnf53j1aeg .cmsmasters_heading a { 
        font-size:40px; 
        line-height:46px; 
    } 
    
    #cmsmasters_heading_nnf53j1aeg .cmsmasters_heading a:hover { 
    } 
    
    #cmsmasters_heading_nnf53j1aeg .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_column_54pfj8zn1c .cmsmasters_column_inner { 
        padding: 0 0% 0 12%; 
    } 
    
    
                @media only screen and (max-width: 768px) {
                    #cmsmasters_column_54pfj8zn1c .cmsmasters_column_inner {
                        padding: 0 0% 0 0%;
                    }
                }
                
    #google_map_zcl3dbqpsu{
        height: 540px;
    }
    
    #cmsmasters_row_862on04vuq .cmsmasters_row_outer_parent { 
        padding-top: 0px; 
    } 
    
    #cmsmasters_row_862on04vuq .cmsmasters_row_outer_parent { 
        padding-bottom: 0px; 
    } 
    
    
    
    #cmsmasters_divider_volhm7yy17 { 
        border-bottom-width:1px; 
        border-bottom-style:solid; 
        margin-top:0px; 
        margin-bottom:0px; 
    } #cmsmasters_divider_volhm7yy17:before { 
    } #cmsmasters_divider_volhm7yy17:after { 
    } 
    #cmsmasters_row_9roccplabw .cmsmasters_row_outer_parent { 
        padding-top: 70px; 
    } 
    
    #cmsmasters_row_9roccplabw .cmsmasters_row_outer_parent { 
        padding-bottom: 0px; 
    } 
    
    
    
    #cmsmasters_heading_piz76n3p7 { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:20px; 
    } 
    
    #cmsmasters_heading_piz76n3p7 .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_piz76n3p7 .cmsmasters_heading, #cmsmasters_heading_piz76n3p7 .cmsmasters_heading a { 
        font-size:20px; 
        line-height:26px; 
        color:#000000;
    } 
    
    #cmsmasters_heading_piz76n3p7 .cmsmasters_heading a:hover { 
    } 
    
    #cmsmasters_heading_piz76n3p7 .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_heading_0ezcxlixd { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:5px; 
    } 
    
    #cmsmasters_heading_0ezcxlixd .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_0ezcxlixd .cmsmasters_heading, #cmsmasters_heading_0ezcxlixd .cmsmasters_heading a { 
        font-family:'Heebo'; 
        font-weight:400; 
        color:#7f7f7f;
    } 
    
    #cmsmasters_heading_0ezcxlixd .cmsmasters_heading a:hover { 
        color:#ef3016;
    } 
    
    #cmsmasters_heading_0ezcxlixd .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_heading_tngc00q60n { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:20px; 
    } 
    
    #cmsmasters_heading_tngc00q60n .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_tngc00q60n .cmsmasters_heading, #cmsmasters_heading_tngc00q60n .cmsmasters_heading a { 
        font-family:'Heebo'; 
        font-weight:400; 
        color:#7f7f7f;
    } 
    
    #cmsmasters_heading_tngc00q60n .cmsmasters_heading a:hover { 
        color:#ef3016;
    } 
    
    #cmsmasters_heading_tngc00q60n .cmsmasters_heading_divider { 
    } 
    
    
    
    
    #cmsmasters_heading_txk0c50wg6 { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:20px; 
    } 
    
    #cmsmasters_heading_txk0c50wg6 .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_txk0c50wg6 .cmsmasters_heading, #cmsmasters_heading_txk0c50wg6 .cmsmasters_heading a { 
        font-size:20px; 
        line-height:26px; 
        color:#000000;
    } 
    
    #cmsmasters_heading_txk0c50wg6 .cmsmasters_heading a:hover { 
    } 
    
    #cmsmasters_heading_txk0c50wg6 .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_heading_jbxqd69cx4 { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:5px; 
    } 
    
    #cmsmasters_heading_jbxqd69cx4 .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_jbxqd69cx4 .cmsmasters_heading, #cmsmasters_heading_jbxqd69cx4 .cmsmasters_heading a { 
        font-family:'Heebo'; 
        font-weight:400; 
        color:#7f7f7f;
    } 
    
    #cmsmasters_heading_jbxqd69cx4 .cmsmasters_heading a:hover { 
        color:#ef3016;
    } 
    
    #cmsmasters_heading_jbxqd69cx4 .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_heading_qbuxiw9ih6 { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:5px; 
    } 
    
    #cmsmasters_heading_qbuxiw9ih6 .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_qbuxiw9ih6 .cmsmasters_heading, #cmsmasters_heading_qbuxiw9ih6 .cmsmasters_heading a { 
        font-family:'Heebo'; 
        font-weight:400; 
        color:#7f7f7f;
    } 
    
    #cmsmasters_heading_qbuxiw9ih6 .cmsmasters_heading a:hover { 
        color:#ef3016;
    } 
    
    #cmsmasters_heading_qbuxiw9ih6 .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_column_kiymamaj5 .cmsmasters_column_inner { 
        padding: 0 18% 0 0%; 
    } 
    
    
    #cmsmasters_heading_hpzx144tnn { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:20px; 
    } 
    
    #cmsmasters_heading_hpzx144tnn .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_hpzx144tnn .cmsmasters_heading, #cmsmasters_heading_hpzx144tnn .cmsmasters_heading a { 
        font-size:20px; 
        line-height:26px; 
        color:#000000;
    } 
    
    #cmsmasters_heading_hpzx144tnn .cmsmasters_heading a:hover { 
    } 
    
    #cmsmasters_heading_hpzx144tnn .cmsmasters_heading_divider { 
    } 
    
    
    
    #cmsmasters_heading_2rgw839wzm { 
        text-align:left; 
        margin-top:0px; 
        margin-bottom:5px; 
    } 
    
    #cmsmasters_heading_2rgw839wzm .cmsmasters_heading { 
        text-align:left; 
    } 
    
    #cmsmasters_heading_2rgw839wzm .cmsmasters_heading, #cmsmasters_heading_2rgw839wzm .cmsmasters_heading a { 
        font-family:'Heebo'; 
        font-size:16px; 
        line-height:26px; 
        font-weight:400; 
        color:#7f7f7f;
    } 
    
    #cmsmasters_heading_2rgw839wzm .cmsmasters_heading a:hover { 
    } 
    
    #cmsmasters_heading_2rgw839wzm .cmsmasters_heading_divider { 
    } 
    
    
    #cmsmasters_row_rnpc49v866 .cmsmasters_row_outer_parent { 
        padding-top: 0px; 
    } 
    
    #cmsmasters_row_rnpc49v866 .cmsmasters_row_outer_parent { 
        padding-bottom: 60px; 
    } 
    
    
    #cmsmasters_row_jlm20qegc { 
        background-color:#1c1c1c;
    } 
    
    #cmsmasters_row_jlm20qegc .cmsmasters_row_outer_parent { 
        padding-top: 0px; 
    } 
    
    #cmsmasters_row_jlm20qegc .cmsmasters_row_outer_parent { 
        padding-bottom: 50px; 
    } 
    