img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
	
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--color--color-1: #7f7f7f;--wp--preset--color--color-2: #ef3016;--wp--preset--color--color-3: #aaaaaa;--wp--preset--color--color-4: #2e2e2e;--wp--preset--color--color-5: #f9f9f9;--wp--preset--color--color-6: #ffffff;--wp--preset--color--color-7: #d8d8d8;--wp--preset--color--color-8: #ef3016;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}


	.header_mid .header_mid_inner .logo_wrap {
		width : 282px;
	}

	.header_mid_inner .logo img.logo_retina {
		width : 282px;
	}


	.header_top {
		height : 34px;
	}
	
	.header_mid {
		height : 150px;
	}
	
	.header_bot {
		height : 65px;
	}
	
	#page.cmsmasters_heading_after_header #middle, 
	#page.cmsmasters_heading_under_header #middle .headline .headline_outer {
		padding-top : 150px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_top #middle, 
	#page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer {
		padding-top : 184px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_bottom #middle, 
	#page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer {
		padding-top : 215px;
	}
	
	#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle, 
	#page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
		padding-top : 249px;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top,
		.header_mid,
		.header_bot {
			height : auto;
		}
		
		.header_mid .header_mid_inner > div {
			height : 150px;
		}
		
		.header_bot .header_bot_inner > div {
			height : 65px;
		}
		
		#page.cmsmasters_heading_after_header #middle, 
		#page.cmsmasters_heading_under_header #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_top #middle, 
		#page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_bottom #middle, 
		#page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer, 
		#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle, 
		#page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
			padding-top : 0 !important;
		}
	}
	
	@media only screen and (max-width: 540px) {
		.header_mid .header_mid_inner > div, 
		.header_bot .header_bot_inner > div {
			height:auto;
		}
	}

#cmsmasters_row_o7ronxp1n4 .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_o7ronxp1n4 .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 

#cmsmasters_row_o7ronxp1n4 .cmsmasters_row_inner.cmsmasters_row_fullwidth { 
	padding-left:0%; 
} 
#cmsmasters_row_o7ronxp1n4 .cmsmasters_row_inner.cmsmasters_row_fullwidth { 
	padding-right:0%; 
} 

#rev_slider_1_1_wrapper .hebe .tp-tab-title{color:#a8d8ee;  font-size:20px;  font-weight:700;  text-transform:uppercase;  font-family:'Work Sans'  margin-bottom:5px}#rev_slider_1_1_wrapper .hebe .tp-tab-desc{font-size:20px;  font-weight:400;  color:#ffffff;  line-height:25px;font-family:'Work Sans'}#cmsmasters_row_kik3wms7de .cmsmasters_row_outer_parent { 
	padding-top: 78px; 
} 

#cmsmasters_row_kik3wms7de .cmsmasters_row_outer_parent { 
	padding-bottom: 0px; 
} 


			@media only screen and (max-width: 540px) {
				#cmsmasters_row_kik3wms7de .cmsmasters_row_outer_parent {
					padding-top: 40px;
				}
			}
			
#cmsmasters_column_ikjp983nf6 .cmsmasters_column_inner { 
	padding: 7px 11% 0 0%; 
} 


#cmsmasters_heading_oezlzl03f { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_oezlzl03f .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_oezlzl03f .cmsmasters_heading, #cmsmasters_heading_oezlzl03f .cmsmasters_heading a { 
	font-size:40px; 
	line-height:48px; 
	color:#161616;
} 

#cmsmasters_heading_oezlzl03f .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_oezlzl03f .cmsmasters_heading_divider { 
} 



#cmsmasters_button_l01zqpxw2m { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_l01zqpxw2m .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_l01zqpxw2m .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_l01zqpxw2m .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_l01zqpxw2m .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 



#cmsmasters_counters_3vi2uzj0jc .cmsmasters_counter.counter_has_icon .cmsmasters_counter_inner, 
#cmsmasters_counters_3vi2uzj0jc .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner { 
	padding-left:80px; 
} 

#cmsmasters_counters_3vi2uzj0jc.counters_type_horizontal .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap { 
	line-height:60px; 
} 

#cmsmasters_counters_3vi2uzj0jc .cmsmasters_counter .cmsmasters_counter_inner:before { 
	font-size:30px; 
	line-height:60px; 
	width:60px; 
	height:60px; 
	border-width:0px; 
	-webkit-border-radius:50%; 
	border-radius:50%; 
} 


#cmsmasters_counter_t4wyn9zbd .cmsmasters_counter_inner:before { 
} 


#cmsmasters_counters_9ztysfbhba .cmsmasters_counter.counter_has_icon .cmsmasters_counter_inner, 
#cmsmasters_counters_9ztysfbhba .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner { 
	padding-left:80px; 
} 

#cmsmasters_counters_9ztysfbhba.counters_type_horizontal .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap { 
	line-height:60px; 
} 

#cmsmasters_counters_9ztysfbhba .cmsmasters_counter .cmsmasters_counter_inner:before { 
	font-size:30px; 
	line-height:60px; 
	width:60px; 
	height:60px; 
	border-width:0px; 
	-webkit-border-radius:50%; 
	border-radius:50%; 
} 


#cmsmasters_counter_9ztysfbhba .cmsmasters_counter_inner:before { 
} 



#cmsmasters_counters_v7ennw4vh6 .cmsmasters_counter.counter_has_icon .cmsmasters_counter_inner, 
#cmsmasters_counters_v7ennw4vh6 .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner { 
	padding-left:80px; 
} 

#cmsmasters_counters_v7ennw4vh6.counters_type_horizontal .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap { 
	line-height:60px; 
} 

#cmsmasters_counters_v7ennw4vh6 .cmsmasters_counter .cmsmasters_counter_inner:before { 
	font-size:30px; 
	line-height:60px; 
	width:60px; 
	height:60px; 
	border-width:0px; 
	-webkit-border-radius:50%; 
	border-radius:50%; 
} 


#cmsmasters_counter_v7ennw4vh6 .cmsmasters_counter_inner:before { 
} 

#cmsmasters_row_u2561n9ibl .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_u2561n9ibl .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 


#cmsmasters_row_ogcqla8tq6 .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_ogcqla8tq6 .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 


			#cmsmasters_row_ogcqla8tq6 {
				margin-top: -490px;
			}
			
			@media only screen and (max-width: 1024px) {
				#cmsmasters_row_ogcqla8tq6 {
					margin-top: -400px;
				}
			}
			
			@media only screen and (max-width: 768px) {
				#cmsmasters_row_ogcqla8tq6 {
					margin-top: -300px;
				}
			}
			
			@media only screen and (max-width: 540px) {
				#cmsmasters_row_ogcqla8tq6 {
					margin-top: -200px;
				}
			}
			
			@media only screen and (max-width: 320px) {
				#cmsmasters_row_ogcqla8tq6 {
					margin-top: -150px;
				}
			}
			
#cmsmasters_column_kya7arfkan { 
	background-color:#ffffff;
	-webkit-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);; 
	-moz-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);; 
	box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);;
	background-image: url(uploads/sites/5/2019/03/home-2-pic1.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: scroll; 
	background-size: auto; 
} 

#cmsmasters_column_kya7arfkan .cmsmasters_column_inner { 
	padding: 0px 12.5% 35px 12.5%; 
} 


#cmsmasters_heading_d6sspwxiz { 
	text-align:left; 
	margin-top:295px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_d6sspwxiz .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_d6sspwxiz .cmsmasters_heading, #cmsmasters_heading_d6sspwxiz .cmsmasters_heading a { 
	font-size:30px; 
	line-height:36px; 
	color:#1e1e1e;
} 

#cmsmasters_heading_d6sspwxiz .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_d6sspwxiz .cmsmasters_heading_divider { 
} 

@media (max-width: 1024px) {
					#cmsmasters_heading_d6sspwxiz .cmsmasters_heading, 
					#cmsmasters_heading_d6sspwxiz .cmsmasters_heading a { font-size:24px;line-height:30px;}
				}

#cmsmasters_divider_ho1g6o89f { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:15px; 
	margin-bottom:33px; 
} #cmsmasters_divider_ho1g6o89f:before { 
} #cmsmasters_divider_ho1g6o89f:after { 
} 

#cmsmasters_divider_ntaong1wf { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:5px; 
	margin-bottom:0px; 
} #cmsmasters_divider_ntaong1wf:before { 
} #cmsmasters_divider_ntaong1wf:after { 
} 

#cmsmasters_button_zdfjmwu7kc { 
	display:inline-block; 
	; 
	
	margin:0 0 0 0;
} 

#cmsmasters_button_zdfjmwu7kc .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_zdfjmwu7kc .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_zdfjmwu7kc .cmsmasters_button { 
	font-weight:600; 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_zdfjmwu7kc .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 


#cmsmasters_column_z6dtopr39 { 
	background-color:#ffffff;
	-webkit-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.08);; 
	-moz-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.08);; 
	box-shadow:0px 2px 24px rgba(0, 0, 0, 0.08);;
	background-image: url(uploads/sites/5/2019/03/home-2-pic2.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: scroll; 
	background-size: auto; 
} 

#cmsmasters_column_z6dtopr39 .cmsmasters_column_inner { 
	padding: 0px 12.5% 35px 12.5%; 
} 


#cmsmasters_heading_ixopxmu22j { 
	text-align:left; 
	margin-top:295px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_ixopxmu22j .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_ixopxmu22j .cmsmasters_heading, #cmsmasters_heading_ixopxmu22j .cmsmasters_heading a { 
	font-size:30px; 
	line-height:36px; 
	color:#1e1e1e;
} 

#cmsmasters_heading_ixopxmu22j .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_ixopxmu22j .cmsmasters_heading_divider { 
} 

@media (max-width: 1024px) {
					#cmsmasters_heading_ixopxmu22j .cmsmasters_heading, 
					#cmsmasters_heading_ixopxmu22j .cmsmasters_heading a { font-size:24px;line-height:30px;}
				}

#cmsmasters_divider_7n48ovr6nd { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:15px; 
	margin-bottom:33px; 
} #cmsmasters_divider_7n48ovr6nd:before { 
} #cmsmasters_divider_7n48ovr6nd:after { 
} 

#cmsmasters_divider_cx4me22ao { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:5px; 
	margin-bottom:0px; 
} #cmsmasters_divider_cx4me22ao:before { 
} #cmsmasters_divider_cx4me22ao:after { 
} 

#cmsmasters_button_dusljighe { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_dusljighe .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_dusljighe .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_dusljighe .cmsmasters_button { 
	font-weight:600; 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_dusljighe .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 


#cmsmasters_column_wn7zcxds7n { 
	background-color:#ffffff;
	-webkit-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);; 
	-moz-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);; 
	box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);;
	background-image: url(uploads/sites/5/2019/03/home-2-pic3.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: scroll; 
	background-size: auto; 
} 

#cmsmasters_column_wn7zcxds7n .cmsmasters_column_inner { 
	padding: 0px 11.5% 35px 12.5%; 
} 


#cmsmasters_heading_icf1mjechf { 
	text-align:left; 
	margin-top:295px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_icf1mjechf .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_icf1mjechf .cmsmasters_heading, #cmsmasters_heading_icf1mjechf .cmsmasters_heading a { 
	font-size:30px; 
	line-height:36px; 
	color:#1e1e1e;
} 

#cmsmasters_heading_icf1mjechf .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_icf1mjechf .cmsmasters_heading_divider { 
} 

@media (max-width: 1024px) {
					#cmsmasters_heading_icf1mjechf .cmsmasters_heading, 
					#cmsmasters_heading_icf1mjechf .cmsmasters_heading a { font-size:24px;line-height:30px;}
				}

#cmsmasters_divider_uwo15keyp { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:15px; 
	margin-bottom:33px; 
} #cmsmasters_divider_uwo15keyp:before { 
} #cmsmasters_divider_uwo15keyp:after { 
} 

#cmsmasters_divider_l0chayusli { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:5px; 
	margin-bottom:0px; 
} #cmsmasters_divider_l0chayusli:before { 
} #cmsmasters_divider_l0chayusli:after { 
} 

#cmsmasters_button_eab78kxo3j { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_eab78kxo3j .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_eab78kxo3j .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_eab78kxo3j .cmsmasters_button { 
	font-weight:600; 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_eab78kxo3j .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 

#cmsmasters_row_klzty43qq .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_klzty43qq .cmsmasters_row_outer_parent { 
	padding-bottom: 10px; 
} 



#cmsmasters_divider_sg4kqnb0jc { 
	border-bottom-width:0px; 
	border-bottom-style:dotted; 
	height:100px; 
	margin-top:35px; 
	margin-bottom:85px; 
} #cmsmasters_divider_sg4kqnb0jc:before { 
} #cmsmasters_divider_sg4kqnb0jc:after { 
} 
#cmsmasters_row_90jnufqk6 .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_90jnufqk6 .cmsmasters_row_outer_parent { 
	padding-bottom: 35px; 
} 


			@media only screen and (max-width: 768px) {
				#cmsmasters_row_90jnufqk6 .cmsmasters_row_outer_parent {
					padding-top: 70px;
				}
			}
			
#cmsmasters_column_5kgrpsoi8 .cmsmasters_column_inner { 
	padding: 0 30% 0 0%; 
} 


			@media only screen and (max-width: 768px) {
				#cmsmasters_column_5kgrpsoi8 .cmsmasters_column_inner {
					padding: 0 20% 0 0%;
				}
			}
			
			@media only screen and (max-width: 540px) {
				#cmsmasters_column_5kgrpsoi8 .cmsmasters_column_inner {
					padding: 0 0% 0 0%;
				}
			}
			
#cmsmasters_heading_b2iz8pemn { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_b2iz8pemn .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_b2iz8pemn .cmsmasters_heading, #cmsmasters_heading_b2iz8pemn .cmsmasters_heading a { 
	font-size:40px; 
	line-height:46px; 
	font-weight:500; 
	color:#2e2e2e;
} 

#cmsmasters_heading_b2iz8pemn .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_b2iz8pemn .cmsmasters_heading_divider { 
} 


#cmsmasters_row_v0jivurqle .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_v0jivurqle .cmsmasters_row_outer_parent { 
	padding-bottom: 85px; 
} 



#cmsmasters_divider_9xpai26fn { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:30px; 
} #cmsmasters_divider_9xpai26fn:before { 
} #cmsmasters_divider_9xpai26fn:after { 
} 

#cmsmasters_divider_h05hic3hon { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:35px; 
	margin-bottom:20px; 
} #cmsmasters_divider_h05hic3hon:before { 
} #cmsmasters_divider_h05hic3hon:after { 
} 

#cmsmasters_button_ezjkmdhn4l { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_ezjkmdhn4l .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_ezjkmdhn4l .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_ezjkmdhn4l .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
} 
#cmsmasters_button_ezjkmdhn4l .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 



#cmsmasters_divider_xnbezdcces { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:30px; 
} #cmsmasters_divider_xnbezdcces:before { 
} #cmsmasters_divider_xnbezdcces:after { 
} 

#cmsmasters_divider_ei5gzznxpo { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:35px; 
	margin-bottom:20px; 
} #cmsmasters_divider_ei5gzznxpo:before { 
} #cmsmasters_divider_ei5gzznxpo:after { 
} 

#cmsmasters_button_lzjw9bce1p { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_lzjw9bce1p .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_lzjw9bce1p .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_lzjw9bce1p .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_lzjw9bce1p .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 



#cmsmasters_divider_rpdrde5wjj { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:30px; 
} #cmsmasters_divider_rpdrde5wjj:before { 
} #cmsmasters_divider_rpdrde5wjj:after { 
} 

#cmsmasters_divider_ayer06uyqf { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:35px; 
	margin-bottom:20px; 
} #cmsmasters_divider_ayer06uyqf:before { 
} #cmsmasters_divider_ayer06uyqf:after { 
} 

#cmsmasters_button_e3kbltz4r8 { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_e3kbltz4r8 .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_e3kbltz4r8 .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_e3kbltz4r8 .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_e3kbltz4r8 .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 



#cmsmasters_divider_t0hcuma9ec { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:30px; 
} #cmsmasters_divider_t0hcuma9ec:before { 
} #cmsmasters_divider_t0hcuma9ec:after { 
} 

#cmsmasters_divider_s9odpuqotn { 
	border-bottom-width:1px; 
	border-bottom-style:solid; 
	margin-top:35px; 
	margin-bottom:20px; 
} #cmsmasters_divider_s9odpuqotn:before { 
} #cmsmasters_divider_s9odpuqotn:after { 
} 

#cmsmasters_button_7ouxndln4f { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_7ouxndln4f .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_7ouxndln4f .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_7ouxndln4f .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_7ouxndln4f .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 

#cmsmasters_row_q54nvitgu { 
	background-color:#f6f6f6;
} 

#cmsmasters_row_q54nvitgu .cmsmasters_row_outer_parent { 
	padding-top: 105px; 
} 

#cmsmasters_row_q54nvitgu .cmsmasters_row_outer_parent { 
	padding-bottom: 20px; 
} 


			@media only screen and (min-width: 1280px) {
				#cmsmasters_row_q54nvitgu .cmsmasters_row_outer_parent {
					padding-bottom: 140px;
				}
			}
			
#cmsmasters_column_ypzhe42yw3 .cmsmasters_column_inner { 
	padding: 30px 0% 0 0%; 
} 


#cmsmasters_heading_pxd1u4hhf8 { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:40px; 
} 

#cmsmasters_heading_pxd1u4hhf8 .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_pxd1u4hhf8 .cmsmasters_heading, #cmsmasters_heading_pxd1u4hhf8 .cmsmasters_heading a { 
	font-size:40px; 
	line-height:46px; 
	color:#161616;
} 

#cmsmasters_heading_pxd1u4hhf8 .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_pxd1u4hhf8 .cmsmasters_heading_divider { 
} 



#cmsmasters_divider_kzbunehtt { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:30px; 
} #cmsmasters_divider_kzbunehtt:before { 
} #cmsmasters_divider_kzbunehtt:after { 
} 

#cmsmasters_divider_x5dj07e6uj { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:0px; 
	margin-bottom:20px; 
} #cmsmasters_divider_x5dj07e6uj:before { 
} #cmsmasters_divider_x5dj07e6uj:after { 
} 

#cmsmasters_button_cfch9tdjgc { 
	float:left; 
	text-align:left; 
	
} 

#cmsmasters_button_cfch9tdjgc .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_cfch9tdjgc .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_cfch9tdjgc .cmsmasters_button { 
	padding-right:0px; 
	padding-left:0px; 
	border-width:0px; 
	background-color:rgba(255,255,255,0);
	color:#414141;
} 
#cmsmasters_button_cfch9tdjgc .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 


#cmsmasters_column_m48ingovte .cmsmasters_column_inner { 
	padding: 0 12% 0 9%; 
} 


			@media only screen and (max-width: 768px) {
				#cmsmasters_column_m48ingovte .cmsmasters_column_inner {
					padding: 0 0% 0 0%;
				}
			}
			
#cmsmasters_fb_gruk0c9nde { 
	padding-top:0px; 
	padding-bottom:40px; 
	-webkit-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06); 
	-moz-box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06); 
	box-shadow:0px 2px 24px rgba(0, 0, 0, 0.06);
	background-color:#ffffff;
} 

#cmsmasters_fb_gruk0c9nde .featured_block_inner { 
	width: 90%; 
	padding: 45px 0% 0px 9%; 
	text-align: left; 
	float:left; 
	background-color:rgba(255,255,255,0);
} 

#cmsmasters_fb_gruk0c9nde .featured_block_text { 
	text-align: left; 
} 



		@media only screen and (min-width: 1280px) {
			#cmsmasters_fb_gruk0c9nde .featured_block_inner {
				width: 90%;
			}
		}
		
		@media only screen and (max-width: 1024px) {
			#cmsmasters_fb_gruk0c9nde .featured_block_inner {
				width: 90%;
			}
		}
		
		@media only screen and (max-width: 768px) {
			#cmsmasters_fb_gruk0c9nde .featured_block_inner {
				width: 90%!important;
			}
		}
		
		@media only screen and (max-width: 540px) {
			#cmsmasters_fb_gruk0c9nde .featured_block_inner {
				width: 90%!important;
			}
		}
		
		@media only screen and (max-width: 320px) {
			#cmsmasters_fb_gruk0c9nde .featured_block_inner {
				width: 90%!important;
			}
		}
		
#cmsmasters_heading_gruk0c9nde { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_gruk0c9nde .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_gruk0c9nde .cmsmasters_heading, #cmsmasters_heading_gruk0c9nde .cmsmasters_heading a { 
	font-size:32px; 
	line-height:38px; 
	font-weight:600; 
	color:#2E2E2E;
} 

#cmsmasters_heading_gruk0c9nde .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_gruk0c9nde .cmsmasters_heading_divider { 
} 


#cmsmasters_row_zdgvssf6q { 
	background-color:#1b1b1b;
} 

#cmsmasters_row_zdgvssf6q .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_zdgvssf6q .cmsmasters_row_outer_parent { 
	padding-bottom: 25px; 
} 


#cmsmasters_column_ycsc2im35q .cmsmasters_column_inner { 
	padding: 100px 0 0 0 ; 
} 


			@media only screen and (min-width: 1280px) {
				#cmsmasters_column_ycsc2im35q .cmsmasters_column_inner {
					padding: 128px 0 0 0 ;
				}
			}
			
#cmsmasters_heading_o0bwfu8i4m { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_o0bwfu8i4m .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_o0bwfu8i4m .cmsmasters_heading, #cmsmasters_heading_o0bwfu8i4m .cmsmasters_heading a { 
	font-size:40px; 
	line-height:46px; 
	font-weight:500; 
	color:#ffffff;
} 

#cmsmasters_heading_o0bwfu8i4m .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_o0bwfu8i4m .cmsmasters_heading_divider { 
} 



#cmsmasters_column_o1cejp1lw .cmsmasters_column_inner { 
	padding: 116px 0px 0px 0px; 
} 


			@media only screen and (min-width: 1280px) {
				#cmsmasters_column_o1cejp1lw .cmsmasters_column_inner {
					padding: 142px 0px 0px 0px;
				}
			}
			
			@media only screen and (max-width: 768px) {
				#cmsmasters_column_o1cejp1lw .cmsmasters_column_inner {
					padding: 20px 0px 0px 0px;
				}
			}
			
#cmsmasters_button_v4yr7glst { 
	float:right; 
	text-align:right; 
	
} 

#cmsmasters_button_v4yr7glst .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_v4yr7glst .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_v4yr7glst .cmsmasters_button { 
	border-width:0px; 
	background-color:rgba(249,249,249,0);
	color:#ffffff;
} 
#cmsmasters_button_v4yr7glst .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 

#cmsmasters_row_y2sgdjrrqm { 
	background-color:#1b1b1b;
} 

#cmsmasters_row_y2sgdjrrqm .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_y2sgdjrrqm .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 

#cmsmasters_row_y2sgdjrrqm .cmsmasters_row_inner.cmsmasters_row_fullwidth { 
	padding-left:0%; 
} 
#cmsmasters_row_y2sgdjrrqm .cmsmasters_row_inner.cmsmasters_row_fullwidth { 
	padding-right:0%; 
} 

#cmsmasters_row_oqx5ao86mg { 
	background-color:#f2f2f2;
} 

#cmsmasters_row_oqx5ao86mg .cmsmasters_row_outer_parent { 
	padding-top: 50px; 
} 

#cmsmasters_row_oqx5ao86mg .cmsmasters_row_outer_parent { 
	padding-bottom: 94px; 
} 



			@media only screen and (min-width: 1280px) {
				#cmsmasters_column_4y8oe8wvd .cmsmasters_column_inner {
					padding: 25px 0 0 0;
				}
			}
			
#cmsmasters_divider_i61y7kak5 { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:50px; 
	margin-bottom:0px; 
} #cmsmasters_divider_i61y7kak5:before { 
} #cmsmasters_divider_i61y7kak5:after { 
} 
#cmsmasters_row_dpint0oix5 .cmsmasters_row_outer_parent { 
	padding-top: 120px; 
} 

#cmsmasters_row_dpint0oix5 .cmsmasters_row_outer_parent { 
	padding-bottom: 6px; 
} 


#cmsmasters_row_hvk744fijl .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_hvk744fijl .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 


#cmsmasters_column_mhctje2qt .cmsmasters_column_inner { 
	padding: 0 5% 0 0%; 
} 


			@media only screen and (max-width: 540px) {
				#cmsmasters_column_mhctje2qt .cmsmasters_column_inner {
					padding: 0 0% 0 0%;
				}
			}
			
#cmsmasters_heading_q03c79jvgn { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_q03c79jvgn .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_q03c79jvgn .cmsmasters_heading, #cmsmasters_heading_q03c79jvgn .cmsmasters_heading a { 
	font-size:40px; 
	line-height:46px; 
	font-weight:500; 
	color:#2e2e2e;
} 

#cmsmasters_heading_q03c79jvgn .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_q03c79jvgn .cmsmasters_heading_divider { 
} 



#cmsmasters_column_1aokadus0h .cmsmasters_column_inner { 
	padding: 62px 0% 0 0%; 
} 


			@media only screen and (max-width: 768px) {
				#cmsmasters_column_1aokadus0h .cmsmasters_column_inner {
					padding: 35px 0% 0 0%;
				}
			}
			
#cmsmasters_button_93zdouo6d { 
	float:right; 
	text-align:right; 
	
} 

#cmsmasters_button_93zdouo6d .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_93zdouo6d .cmsmasters_button:before { font-size:inherit;line-height:inherit;
} 
#cmsmasters_button_93zdouo6d .cmsmasters_button { 
	border-width:0px; 
	background-color:rgba(249,249,249,0);
	color:#414141;
} 
#cmsmasters_button_93zdouo6d .cmsmasters_button:hover { 
	background-color:rgba(255,255,255,0);
	color:#ef3016;
} 

#cmsmasters_row_bdr8oogee .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_bdr8oogee .cmsmasters_row_outer_parent { 
	padding-bottom: 0px; 
} 


			@media only screen and (min-width: 1280px) {
				#cmsmasters_row_bdr8oogee .cmsmasters_row_outer_parent {
					padding-top: 25px;
				}
			}
			
			@media only screen and (min-width: 1280px) {
				#cmsmasters_row_bdr8oogee .cmsmasters_row_outer_parent {
					padding-bottom: 127px;
				}
			}
			

#cmsmasters_column_5lzi2flszi .cmsmasters_column_inner { 
	padding: 0 0 0 7%; 
} 

#cmsmasters_row_vu4cls5wzs { 
	background-color:#f9f9f9;
} 

#cmsmasters_row_vu4cls5wzs .cmsmasters_row_outer_parent { 
	padding-top: 20px; 
} 

#cmsmasters_row_vu4cls5wzs .cmsmasters_row_outer_parent { 
	padding-bottom: 0px; 
} 


#cmsmasters_column_gr25zfx3w .cmsmasters_column_inner { 
	padding: 65px 0% 0 0%; 
} 


#cmsmasters_fb_wq1ibefqm { 
	padding-top:160px; 
	padding-bottom:215px; 
	background-image: url(uploads/sites/5/2019/04/Rectangle-2.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	background-attachment: scroll; 
	background-size: cover; 
} 

#cmsmasters_fb_wq1ibefqm .featured_block_inner { 
	width: 100%; 
	text-align: right; 
	float:right; 
} 

#cmsmasters_fb_wq1ibefqm .featured_block_text { 
	text-align: right; 
} 



#cmsmasters_column_esv3962ns .cmsmasters_column_inner { 
	padding: 0 0px 0 0; 
} 


#cmsmasters_fb_yduqsln04q { 
	padding-top:0px; 
	padding-bottom:0px; 
	background-color:#ef3016;
} 

#cmsmasters_fb_yduqsln04q .featured_block_inner { 
	width: 100%; 
	padding: 60px 18% 0 10%; 
	text-align: left; 
	float:left; 
} 

#cmsmasters_fb_yduqsln04q .featured_block_text { 
	text-align: left; 
} 



#cmsmasters_heading_yduqsln04q { 
	text-align:left; 
	margin-top:0px; 
	margin-bottom:20px; 
} 

#cmsmasters_heading_yduqsln04q .cmsmasters_heading { 
	text-align:left; 
} 

#cmsmasters_heading_yduqsln04q .cmsmasters_heading, #cmsmasters_heading_yduqsln04q .cmsmasters_heading a { 
	font-size:32px; 
	line-height:38px; 
	font-weight:600; 
	color:#ffffff;
} 

#cmsmasters_heading_yduqsln04q .cmsmasters_heading a:hover { 
} 

#cmsmasters_heading_yduqsln04q .cmsmasters_heading_divider { 
} 



#cmsmasters_fb_fc27fp7u4 { 
	padding-top:0px; 
	padding-bottom:70px; 
	background-color:#ef3016;
} 

#cmsmasters_fb_fc27fp7u4 .featured_block_inner { 
	width: 100%; 
	padding: 0px 12% 0px 12%; 
	text-align: left; 
	float:left; 
} 

#cmsmasters_fb_fc27fp7u4 .featured_block_text { 
	text-align: left; 
} 



#cmsmasters_divider_fc27fp7u4 { 
	border-bottom-width:0px; 
	border-bottom-style:solid; 
	margin-top:46px; 
	margin-bottom:0px; 
} #cmsmasters_divider_fc27fp7u4:before { 
} #cmsmasters_divider_fc27fp7u4:after { 
} 

#cmsmasters_button_fc27fp7u4 { 
	
	text-align:center; 
	
} 

#cmsmasters_button_fc27fp7u4 .cmsmasters_button:before { 
	margin-right:.5em; 
	margin-left:0; 
	vertical-align:baseline; 
} 

#cmsmasters_button_fc27fp7u4 .cmsmasters_button.cmsmasters_but_icon_right { 
	width:100%; 
} 
#cmsmasters_button_fc27fp7u4 .cmsmasters_button { 
} 
#cmsmasters_button_fc27fp7u4 .cmsmasters_button:hover { 
} 

#cmsmasters_row_csi7fzhnw .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_csi7fzhnw .cmsmasters_row_outer_parent { 
	padding-bottom: 0px; 
} 


			@media only screen and (max-width: 768px) {
				#cmsmasters_row_csi7fzhnw .cmsmasters_row_outer_parent {
					padding-top: 50px;
				}
			}
			
			#cmsmasters_row_csi7fzhnw {
				margin-top: -10px;
			}
			
			@media only screen and (max-width: 768px) {
				#cmsmasters_row_csi7fzhnw {
					margin-top: 0px;
				}
			}
			
#cmsmasters_row_gq1t8l2ryn .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_gq1t8l2ryn .cmsmasters_row_outer_parent { 
	padding-bottom: 40px; 
} 



#cmsmasters_clients_6sgi3wdao .cmsmasters_clients_item { height:130px; line-height:130px; } 
#cmsmasters_clients_6sgi3wdao .cmsmasters_clients_item a { line-height:130px; } 
#cmsmasters_row_k5319gnwx { 
	background-color:#1c1c1c;
} 

#cmsmasters_row_k5319gnwx .cmsmasters_row_outer_parent { 
	padding-top: 0px; 
} 

#cmsmasters_row_k5319gnwx .cmsmasters_row_outer_parent { 
	padding-bottom: 50px; 
} 

